.main{
	height:1633px;
	background:url(../../img/companysituation/event_main_bg.png) no-repeat center center;
	background-size:cover;
	
}
.event_title{
	padding:133px 0 109px 0;
}
.incident_time{
	padding:20px 0;
	margin-bottom:130px;
}
.swiper-container_time{
	height:200px;
	width:100%;
	margin: auto;
}
.swiper-container_time .swiper-slide{
	align-items: flex-start;
	color: #fff;
	justify-content: flex-start;
	text-align: center;
	font-size: 18px;
	/*Center slide text vertically*/
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	cursor: pointer;
}
.swiper-container_time .swiper-slide:nth-child(2n+1){
	align-items: flex-end;
}
.swiper-container_time .time{
	width:100px;
	height:100px;
	line-height:100px;
	border:2px solid #fff;
	border-radius: 50%;
	position:relative;
	z-index:10;
}
.swiper-container_time .swiper-slide:nth-child(2n) .time:after{
	content: "";
    width: 95px;
    height: 2px;
    position: absolute;
    top: 93px;
    right: -85px;
    z-index: 30;
    background: #fff;
    transform: rotate(30deg);
}
.swiper-container_time .swiper-slide:nth-child(2n+1) .time:after{
	content: "";
    width: 95px;
    height: 2px;
    position: absolute;
    top: 0px;
    right: -82px;
    z-index: 30;
    background: #fff;
    transform: rotate(-30deg);
}
.activeTOdd{
	transform: translate(16px,16px) scale(1.1);
	background:#fff;
	color:#0f6391;
	box-shadow: 0px 0px 0px 6px #87b1c8;
}
.activeTOdd:after{
	width: 85px !important;
    right: -58px !important;
    top: 75px !important
}
.activeTEven{
	transform: translate(16px,-16px) scale(1.1);
	background:#fff;
	color:#0f6391;
	box-shadow: 0px 0px 0px 6px #87b1c8;
}
.activeTEven:after{
	width: 60px !important;
    right: -54px !important;
    top: 12px !important
}
.swiper-container_time .swiper-slide:last-child .time:after{
	display: none;
}
.time_title{
	width:50%;
	margin:auto;
	justify-content: center;
	padding-bottom:15px;
}
.time_text{
	font-size:96px;
	font-family: "华文行楷";
	color: #fff;
}
.time_month{
	width:100%;
	justify-content: space-between;
	border-bottom:1px solid #fff;
	margin-bottom:100px;
}
.activeM{
	background:#fff;
	color:#1077b9 !important;
	border-radius: 5px;
}
.time_month .time_month_li{
	width:7.6%;
	color:#fff;
	line-height:32px;
	height:32px;
	cursor: pointer;
}
.time_details{
	height:520px;
	position:relative;
}
.time_details_li{
	width:100%;
	height:100%; 
	position:absolute;
	top:0;
	left:0;
}
.time_details_li .swiper-container-day{
	height:100%;
	margin-left:100px;
	text-align: left;
}
.time_details_li .swiper-container-day .swiper-slide {
    font-size: 16px;
    height: auto;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.time_details_li .swiper-container-day .swiper-slide > div{
	height:70px;
	color:#fff;
	position:relative;
}
.time_details_li .swiper-container-day .swiper-slide > div:after{
	content:"";
	position:absolute;
	width:1px;
	height:70px;
	background:#fff;
	top:0;
	left:100px;
	z-index:5;
}
.time_details_li .swiper-container-day .swiper-slide > div:before{
	content:"";
	position: absolute;
	width:13px;
	height:13px;
	background:#000;
	top:0;
	left:92px;
	border: 2px solid #fff;
	border-radius: 50%;
	z-index:10;
}
.time_details_text{
	padding-left:70px;
}
.day{
	width:60px;
	text-align: right;
}
.footer{
	padding-top:48px;
	background:#f4f4f4;
}